.basic1{
    display: flex;
    
    justify-content: center;
}


.basic2{
    display: flex;
    justify-content: center;
}


.box{
    background-color: gray;
    overflow: hidden;
    margin: 5%;
    padding: 5%;
    height: 25vh;
    width: 20vw;
    text-align: center;
}

.box p{
    font-size: 1.2em;
}




@media (max-width: 427px){
    .basic1 {
        display: flex;
        flex-direction: column;
        margin-left: 30vw;
    }
    .basic2 {
        display: flex;
        flex-direction: column;
        margin-left: 30vw;
    }

    .box{
        width: 40vw;
    }
}