footer{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
    /* margin-top: 4px; */
  bottom:0;
  left:0;
  width:100%;
  height: 600px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.categories-list h1{
  color:  white;
  font-size: 16px;
  position: relative;
  left: -11vw;
  top: 30px;
}

.categories-list li{
  color: white;
  list-style: none;
  position: relative;
  left: -10vw;
  padding: 3px;
  top: 55px;
}
.recent-posts h1{
  color:  white;
  font-size: 16px;
  position: relative;
  left: 10vw;
  top: 30px;
}

.recent-posts li{
  color: white;
  list-style: none;
  position: relative;
  left: 9vw;
  padding: 3px;
  top: 55px;
}
.popular-post-list h1{
  color:  white;
  font-size: 16px;
  position: relative;
  left: 30vw;
  top: 30px;
}

.popular-post-list li{
  color: white;
  list-style: none;
  position: relative;
  left: 29vw;
  padding: 3px;
  top: 55px;
}

.about-us h1{
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 20px;
  top: 42vh;
  left: -45vw;
}

.about-us p{
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  top: 44vh;
  left: -38vw;
  height: auto;
  color: white;
}

footer .copywrite{
  color: white;
  width: 100%;
  position: absolute;
  font-size: 16px;
  bottom: 20px;
  left: 45%;
  font-weight: normal;
  
}
