footer{
  margin: 0;
    padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
    /* margin-top: 4px; */
  bottom:0;
  width:100vw;
  height: 600px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.categories-list{
  position: relative;
  top: 5vh;
  left: -17vw;
}

.categories-list h1{
  color:  white;
  font-size: 16px;
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  
}


.categories-list li{
  color: white;
  list-style: none;
  position: relative;
  justify-content: center;
  display: flex;
  padding: 6px;
  
}

.recent-posts{
  position: relative;
  top: 5vh;
  left: 8vw;
}

.recent-posts h1{
  color:  white;
  font-size: 16px;
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  
}

.recent-posts li{
  color: white;
  list-style: none;
  position: relative;
  padding: 6px;
  display: flex;
  justify-content: center;
  
}

.popular-post-list{
  position: relative;
  top: 7vh;
  left: 30vw;
}


.popular-post-list h1{
  color:  white;
  font-size: 16px;
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;

}

.popular-post-list li{
  color: white;
  list-style: none;
  position: relative;
  padding: 6px;
  display: flex;
  justify-content: center;

}

.about-us{
  position: relative;
  left: -46vw;
  top: 50vh;
}

.about-us h1{
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 20px;
  left: -7vw;
  padding: 8px;

}

.about-us p{
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: auto;
  color: white;
}

.copywrite{
  color: white;
  background-color: black;
  width: 100vw;
  position: relative;
  font-size: 16px;
  bottom: 0;
  left: 0;
  font-weight: normal;
  
}

.copywrite p{
  position: relative;
  left: 50vw;
}
