* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

navbar {
  overflow-y: hidden;
}
.container {
  position: relative;
  left: -35%;
}

.home-heading {
  position: relative;
  left: 10%;
  margin-top: -1.5%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: normal;
  justify-content: center;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home-heading2 {
  position: relative;
  left: -5%;
  top: 18%;
  font-weight: normal;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.child2 {
  background-color: #575757;
  height: 300px;
}

.child2 h1 {
  color: white;
  position: relative;
  top: 30%;
  left: 3%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.child2 h2 {
  color: white;
  position: relative;
  top: 34%;
  left: 3%;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.child2 p {
  color: black;
  background-color: white;
  position: relative;
  padding: 5px;
  width: 90px;
  top: 38%;
  left: 3%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.recent-post p {
  color: white;
  font-size: 20px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 43%;
  margin-top: 2%;
  padding: 5px;
  align-items: center;
  border-radius: 30px;
  height: 50px;
  width: 220px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-s;
}

.child3 img {
  display: inline;
  justify-content: center;
  position: relative;
  width: 336px;
  height: 230px;
  margin-top: 3%;
  margin-left: 8%;
}

.change {
  margin-left: 48%;
}

.change .c1 {
  background-color: black;
}

.change .c2,
.c3 {
  background-color: gray;
}
.change .c1,
.c2,
.c3 {
  display: inline-flex;
  justify-content: center;
  margin-left: 1%;
  margin-top: 3%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.tg-wrap {
  border: 2px black;
  position: relative;
  margin-left: 70%;
  margin-top: 8%;
}
.article-post {
  background-color: #f2f2f2;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5em;
  margin-top: 5%;
  height: auto;
  width: 45%;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.article-post img {
  width: 42vw;
  height: 74vh;
  position: relative;
  margin-left: auto;
}

.article-post h1 {
  position: inherit;
  left: 44%;
  font-size: 38px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-s;
}
.article-post .author {
  position: relative;
  left: 46%;
  padding-top: 1%;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-s;
}

.article-post p {
  padding-top: 3%;
}

.post-date {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  top: -3vh;
  left: 25%;
  border-radius: 30px;
  height: auto;
  width: 50%;
  padding-bottom: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.post-like {
  background-color: black;
  color: white;
  position: relative;
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: 25%;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.post-like img {
  background-color: white;
  position: relative;
  width: 15px;
  height: 15px;
}

.post-reply {
  background-color: black;
  color: white;
  position: relative;
  display: inline-flex;
  height: auto;
  width: auto;
  margin-top: 6%;
  margin-left: 2%;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.post-reply img {
  background-color: white;
  position: relative;
  width: 15px;
  height: 15px;
}

.read-more {
  background-color: black;
  color: white;
  position: relative;
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: -35%;
  margin-left: 80%;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.read-more img {
  background-color: white;
  position: relative;
  width: 15px;
  height: 15px;
}

.specail-blogs {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  margin-top: 3%;
  margin-left: -10%;
  padding: 8px;
  border-radius: 30px;
  height: auto;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.topic-main {
  display: flex;
  justify-content: center;
}

.topic-main .box {
  background-color: gray;
  overflow: hidden;
  margin: 2%;
  padding: 3% 2% 0 2%;
  height: 25vh;
  width: 20vw;
  text-align: center;
}

.topic-main .box p {
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


@media (max-width: 427px){
  .topic-main {
    display: flex;
    flex-direction: column;
    margin-left: 30vw;

}

.specail-blogs{
  left: 25vw;
}

.topic-main .box{
  width: 50vw;
}
}
@media (max-width: 560px) {
  .recent-post p{
    justify-content: center;
  }

}

@media (max-width: 805px) {
  .child3 img{
    justify-content: center;
  }

}
@media (max-width: 1142px) {
  .article-post {
    width: auto;
  }

  .article-post img {
    width: 100%;
    position: relative;
    margin-right: 10%;
  }


}

@media (max-width: 1462px) {
  .post-date {
    position: relative;
  }
}

@media (max-width: 1250px) {

  .article-post img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
  .post-date {
    height: auto;
  }


}

