* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: auto;
  outline: none;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

.tg-0lay {
  overflow-y: hidden;
  display: flex;
  float: left;
  text-align: justify;
  margin-top: 15%;
  font-size: 18px;
  height: 180px;
  width: 490px;
  padding: 20px;
}

.heading-title {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 8%;
  height: auto;
  width: auto;
  padding: 20px;
}
.description-box {
  background-color: white;
  position: relative;
  margin-left: 10%;
  margin-top: 2%;
  height: auto;
  width: 80vw;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.tg-0lax img {
  height: 203px;
  width: 306.77px;
  position: flex;
  margin-top: 20%;
  margin-left: 30%;
  justify-content: space-between;
}

.article-content {
  font-size: 18px;
  position: relative;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 50vw;
}

.article-img {
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 50vw;
}

.comments {
  background-color: #f2f2f2;
  margin-bottom: 5%;
  position: relative;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 40vw;
  height: 230px;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.comments > p {
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 1.6%;
  margin-left: 6%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.comments .search-data {
  background-color: #ededed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 37vw;
  height: 30px;
  border-color: gray;
}

.article .title {
  position: flex;
  margin-top: 10%;
  margin-left: 30%;
  font-size: 24px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.article .author {
  position: flex;
  margin-left: 30%;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.category {
  position: relative;
  overflow-y: hidden;
  margin-left: 20%;
  left: 45vw;
  top: -170vh;
  height: 200px;
  width: 20vw;
  padding: 20px;
}

.category > p {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.category > div {
  background-color: #f2f2f2;
  overflow-y: hidden;
  position: relative;
  align-items: center;
  border-radius: 30px;
  margin-left: 30%;
  margin-top: 3%;
  height: 40px;
  width: 12vw;

  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.category > div > a {
  text-decoration: none;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.socail {
  display: inline-flex;
  position: relative;
  overflow-y: hidden;
  margin-left: 20%;
  left: 45vw;
  top: -170vh;
  height: 200px;
  width: 20vw;
  padding: 0 20px 0 20px;
}

/* .socail > p {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}  */
.socail .insta-icon {
  background-color: #ffffff;
  position: relative;
  overflow-y: hidden;
  margin-left: 20%;
  margin-top: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.socail .insta-icon > img {
  width: 20px;
  height: 20px;
  margin: -5px 0px -3px -9px;
}

.socail .facebook-icon {
  background-color: #ffffff;
  overflow-y: hidden;
  position: relative;
  margin-left: -6%;
  margin-top: 5%;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.socail .facebook-icon > img {
  width: 20px;
  height: 20px;
  margin: -5px 0px -3px -9px;
}

.socail .linkedin-icon {
  background-color: #ffffff;
  position: relative;
  overflow-y: hidden;
  margin-left: 5%;
  margin-top: 18.5%;
  left: 40px;
  top: -39px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.socail .linkedin-icon > img {
  width: 20px;
  height: 20px;
  margin: -5px 0px -3px -9px;
}

.socail .github-icon {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  overflow-y: hidden;
  margin-left: 5%;
  margin-top: 17%;
  left: 40px;
  top: -39px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.socail .github-icon > img {
  width: 20px;
  height: 20px;
  margin: -5px 0px -3px -4px;
}

.subscribe {
  position: relative;
  left: 70vw;
  top: -180vh;
  height: 140px;
  width: 280px;
  padding: 20px;
  font-size: 20px;
}

.subscribe-detail {
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  left: 70vw;
  top: -190vh;
  height: auto;
  width: 280px;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.subscribe-detail > p {
  font-size: 16px;
  font-weight: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}

.subscribe-detail .subscribe-data {
  background-color: #ededed;
  position: relative;
  align-items: center;
  margin-top: 3%;
  height: 30px;
  width: 240px;
  box-shadow: black;
}

.subscribe-detail .subscribe-btn {
  background-color: black;
  position: relative;
  left: 170px;
  margin-top: 3%;
  height: 20px;
  width: 70px;
  box-shadow: black;
}

.subscribe-detail .subscribe-btn a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}

.popular-post {
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  margin-left: 20%;
  left: 50vw;
  top: -175vh;
  height: auto;
  width: 18vw;
  padding: 20px;
  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.popular-post p {
  position: relative;
  left: 50px;
  font-size: 14px;
  padding-left: 5px;
  margin-top: -80px;
  margin-left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.popular-post > span {
  position: relative;
  top: -5px;
  margin-top: 30px;
}

.popular-post .popular-pic1,
.popular-pic2,
.popular-pic3 {
  display: block;
  justify-content: space-around;
  height: 70px;
  width: 90px;
  background-color: #bbb;
  display: inline-block;
}

.popular-post .popular-more {
  position: relative;
  width: auto;
  height: auto;
  left: 12vw;
  top: 2vh;
  margin-bottom: 5%;
}

.popular-post .popular-more a {
  position: relative;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 4px;
}

.popular-post-title {
  position: relative;
  left: -220px;
  top: -75px;
  height: 180px;
  width: 280px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 5px;
}

.advertisement {
  position: relative;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  left: 50vw;
  top: -200vh;
  height: auto;
  padding: 20px;
}

.advertisement p {
  position: relative;
  font-size: 18px;
  top: 115px;
  height: 180px;
  width: 280px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 5px;
}

.advertisement .ad-banner {
  position: relative;
  margin-top: 1%;
  background-color: #f2f2f2;
  height: 10px;
  width: 290px;
  padding: 20px;

  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.related-content {
  position: relative;
  top: -170vh;
  left: 46vw;
}
.related-content > div {
  display: flex;
  justify-content: center;
  background-color: black;
  overflow-y: hidden;
  position: relative;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 8%;
  height: 40px;
  width: 16vw;

  box-shadow: 7px 0px 5px -7px gray, 0px 8px 7px -4px gray,
    -7px 0px 5px -7px gray;
}

.related-content > div > a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  justify-items: center;
  padding: 58px 60px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.related-content a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}




/* MEDIA QUERY [ RESPONSIVE ] */

@media only screen and (max-width: 427px) and (min-width: 319px) {
  .tg-0lax {
    position: relative;
    top: 5vh;
  }

  .tg-0lay {
    position: relative;
    top: 24vh;
    left: -28vw;
    height: auto;
    font-size: 1em;
    margin-bottom: 15vh;
  }
  .popular-post {
    display: none;
  }
  
  .socail {
    display: none;
  }
  
  .category {
    display: none;
  }
  
  .subscribe-detail {
    display: none;
  }
  
  .subscribe {
    display: none;
  }
  
  .advertisement {
    display: none;
  }
  
  .related-content {
    display: none;
  }
}

@media only screen and (max-width: 586px) and (min-width: 426px) {
  .tg-0lax {
    position: relative;
    top: 5vh;
  }

  .tg-0lay {
    position: relative;
    top: 24vh;
    left: -28vw;
    height: auto;
    font-size: 1em;
    margin-bottom: 15vh;
  }
}

@media (max-width: 585px) {
  * {
    overflow-x: hidden;
  }
  .heading {
    position: absolute;
    left: 30vw;
  }

  .nav-container .hamburger-lines {
    position: absolute;
    top: 3.6vh;
    margin-left: 11%;
  }
  .grid-box-right {
    display: none;
  }

  .tg-0lax img {
    margin-top: -110%;
    margin-left: 35%;
  }

  .heading-title {
    margin-top: 20%;
    margin-left: 10%;
  }

  .tg-0lay {
    margin-top: 60%;
    margin-left: -70%;
  }

  footer {
    flex-direction: column;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .categories-list {
    height: auto;
    position: relative;
    flex-direction: column;
    margin-top: 5%;
    left: 3%;
  }

  .recent-posts {
    position: relative;
    height: auto;
    flex-direction: column;
    margin-top: 12%;
  }

  .popular-post-list {
    position: relative;
    height: auto;
    flex-direction: column;
    margin-top: 12%;
    left: 3%;
  }

  .about-us {
    position: relative;
    height: auto;
    margin-top: 15%;
    left: 20%;
    margin-right: auto;
  }

  .copywrite p {
    position: relative;
    height: auto;
    margin-top: 5%;
    padding: 6px;
    left: 30%;
  }
}

@media (max-width: 770px) {
  .tg-0lay {
    width: auto;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 769px) and (min-width: 584px) {
  .recent-posts h1,
  li {
    font-size: 0.8em;
  }

  .search-data {
    display: flex;
    justify-content: center;
    margin-left: -11vw;
  }

  .tg-0lax img {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    width: auto;
    left: 15vw;
  }

  .popular-post {
    display: none;
  }

  .socail {
    display: none;
  }

  .category {
    display: none;
  }

  .subscribe-detail {
    display: none;
  }

  .subscribe {
    display: none;
  }

  .advertisement {
    display: none;
  }

  .related-content {
    display: none;
  }
}

@media only screen and (max-width: 1180px) and (min-width: 733px) {
  .categories-list {
    position: relative;
    left: 2vw;
  }

  .recent-posts {
    position: relative;
    left: 16%;
  }

  .popular-post-list {
    position: relative;
    top: 6%;
  }
}

@media (max-width: 890px) {
  .socail {
    display: none;
  }
  .popular-post {
    display: none;
  }

  .category {
    display: none;
  }

  .subscribe-detail {
    display: none;
  }

  .subscribe {
    display: none;
  }

  .advertisement {
    display: none;
  }

  .related-content {
    display: none;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
    .popular-post {
        display: none;
      }
      
      .socail {
        display: none;
      }
      
      .category {
        display: none;
      }
      
      .subscribe-detail {
        display: none;
      }
      
      .subscribe {
        display: none;
      }
      
      .advertisement {
        display: none;
      }
      
      .related-content {
        display: none;
      }
}

@media only screen and (max-width: 1442px) and (min-width: 1121px){
    
    .popular-post{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: -200vh;
        margin-left: 20%;
        width: 25vw;
    }

    .category{
        position: relative;
        
        /* display: flex; */
        /* flex-direction: column; */
        margin-top: 30vh;
    }

    .socail{
        position: relative;
        /* width: max-content; */
        /* margin-left: 2vw; */
        top: -230vh;
        padding: 2px;
    }

    .subscribe{
        position: relative;
        top: -245vh;
    }
    .subscribe-detail{
        position: relative;
        top: -255vh;
    }

    .category{
        position: relative;
        top: -230vh;
    }

    .advertisement{
        position: relative;
        top: -270vh;
    }
}