<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/component.css" />
    <link rel="stylesheet" href="../css/basic101.css" />
    <link rel="stylesheet" href="../css/webdev.css" />
  </head>
  <body>
    <!-- NAVBAR html-->
    <navbar>
      <div class="container nav-container">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <h3 class="heading">ALPHABUZZ</h3>
      <div class="nav-item">
        <li><a href="">Finance</a></li>
        <li><a href="">Technology</a></li>
        <li><a href="">Interviews</a></li>
        <li><a href="">Buiseness</a></li>
      </div>
      <input type="search" class="search-data" placeholder="  Search" />
    </navbar>

    <h1 class="heading-title">Basic 101</h1>
    <div class="description-box">
        <p>
            Wondering how to get started with that one skill you always wanted to learn? Then this is the perfect place for you to
            explore and get the best tips and insights on how and where to begin. This series tackles all the information that you
            need as a beginner to master the skill you always wanted to. We have the best articles and videos to help you get
            started with. So come join us on this journey to unleash the best in you.
            
        </p>
    </div>
    
<div class="basic1">

                <div class="box">
                    <p>Web <br>Development</p>
                </div>




                <div class="box">
                    <p>UI/UX</p>
                </div>



                <div class="box">
                    <p>App <br>Development</p>
                </div>

              </div>


          

            
              <div class="basic2">
                <div class="box">
                    <p>Machine <br>Learning</p>
                </div>

                <div class="box">
                    <p>Finanace</p>
                </div>


                <div class="box">
                    <p>3D-Modelling</p>
                </div>
              </div>





        <footer>
          <div class="categories-list">
            <h1>CATEGORIES</h1>
            <li >Category 1</li>
            <li >Category 2</li>
            <li >Category 3</li>
            <li >Category 4</li>
            <li >Category 5</li>
            <li >Category 6</li>
            <li >Category 7</li>
          </div>
  
          <div class="recent-posts">
            <h1>RECENT POSTS</h1>
            <li >Post 1: Title and Author</li>
            <li >Post 2: Title and Author</li>
            <li >Post 3: Title and Author</li>
            <li >Post 4: Title and Author</li>
            <li >Post 5: Title and Author</li>
            <li >Post 6: Title and Author</li>
            <li >Post 7: Title and Author</li>
          </div>
  
          <div class="popular-post-list">
            <h1>POPULAR POSTS</h1>
            <li >Post 1: Title and Author</li>
            <li >Post 2: Title and Author</li>
            <li >Post 3: Title and Author</li>
            <li >Post 4: Title and Author</li>
            <li >Post 5: Title and Author</li>
            <li >Post 6: Title and Author</li>
            <li >Post 7: Title and Author</li>
          </div>
        <div class="about-us">  
          <h1>About Us</h1>
          <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Nullam u
            rna erat, accumsan non venenatis ac, 
            maximus eget magna. Curabitur rutrum 
            bibendum nisl, ut ornare metus accumsan 
            vitae. Nullam sit amet egestas nisi.
             Quisque tincidunt commodo ante, vitae 
             vestibulum arcu faucibus ac. Mauris ac 
             tellus in leo sollicitudin pulvinar nec ac sapien.
          </p>
        </div>
  
      </footer>
      <div class="copywrite">
        <p>&#169 Copyright 2021 Alpha Bio Cell</p>
      </div>

    <script src="" async defer></script>
  </body>
</html>
