<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/component.css" />
  </head>
  <body>
    <!-- NAVBAR html-->
    <navbar>
      <div class="container nav-container">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <h3 class="heading">ALPHABUZZ</h3>
      <div class="nav-item">
        <li><a href="">Finance</a></li>
        <li><a href="">Technology</a></li>
        <li><a href="">Interviews</a></li>
        <li><a href="">Buiseness</a></li>
      </div>
      <input type="search" class="search-data" placeholder="  Search" />
    </navbar>

    <h1 class="heading-title">MACHINE LEARNING</h1>
    <div class="description-box">
        <p>
          Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed. Machine learning focuses on the development of computer programs that can access data and use it learn for themselves.
        </p>
    </div>
    
    <table class="tg">
      <thead>
        <tr>
          <td class="tg-0lax">
            <img src="../images/article-img.png" alt="@instaabc" />
          </td>

          <td class="tg-0lay">
            Article Title<br>
            By Author<br>
            DD/MM/YYYY |  3 min read<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis hendrerit arcu. Sed ac lacus leo. Nunc fermentum vel ex eu mollis. Aliquam a urna ut lorem cursus vestibulum a in 
            
          </td>

          <td class="grid-box-right" rowspan="5">

            <p class="popular-post-title">Popular Post</p>
                <div class="popular-post">
                  <span class="popular-pic1"></span>
                  <p>
                    <b>Post title</b><br>
                    Sub title or Author<br>
                    DD/MM/YYY | 3 min read
                  </p>
                  <span class="popular-pic2"></span>
                  <p>
                    <b>Post title</b><br>
                    Sub title or Author<br>
                    DD/MM/YYY | 3 min read
                  </p>
                  <span class="popular-pic3"></span>
                  <p>
                    <b>Post title</b><br>
                    Sub title or Author<br>
                    DD/MM/YYY | 3 min read
                  </p>
                  <div class="popular-more"><a href="">More>></a></div>
        
                <div class="category">
                    <p>Category:</p>
                    <div><a href="">Technical</a></div>
                    <div><a href="">Design</a></div>
                    <div><a href="">Management</a></div>
                </div>
        
        
                <div class="socail">
                    <p>Follow us on:</p>
                    <div class="insta-icon">
                      <img src="../images/instagram.png" alt="@instaabc">
                    <div>
                    <div class="facebook-icon">
                        <img src="../images/facebook.png" alt="@abcfacebook">
                    <div>
                    <div class="linkedin-icon">
                      <img src="../images/linkedin.png" alt="@abclinkedin">
                    <div>
                    <div class="github-icon">
                      <img src="../images/github.png" alt="@abcgithub">
                    <div>
                </div>
        
                <p class="subscribe">Subscribe</p>
                <div class="subscribe-detail">
                    <p>Enter your email to get
                      <br>
                      latest blogs!
                    </p>
                      <input type="email" class="subscribe-data" placeholder="    Email: Name@example.com" />
                      <div class="subscribe-btn"><a href="">SUBSCRIBE</a></div>
                </div>
        
                
        
                  <div class="advertisement">
        
                    <p>Advertisement</p>
                    <div class="ad-banner"></div>
            
                  </div>
              </div>
          </td>
        </tr>

        <tr>
          <td class="tg-0lax">
            <img src="../images/article-img.png" alt="@instaabc" />
          </td>

          <td class="tg-0lay">
            Article Title<br>
            By Author<br>
            DD/MM/YYYY |  3 min read<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis hendrerit arcu. Sed ac lacus leo. Nunc fermentum vel ex eu mollis. Aliquam a urna ut lorem cursus vestibulum a in 
            
          </td>
        </tr>
        <tr>

          <td class="tg-0lax">
            <img src="../images/article-img.png" alt="@instaabc" />
          </td>

          <td class="tg-0lay">
            Article Title<br>
            By Author<br>
            DD/MM/YYYY |  3 min read<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis hendrerit arcu. Sed ac lacus leo. Nunc fermentum vel ex eu mollis. Aliquam a urna ut lorem cursus vestibulum a in 
            
          </td>
        </tr>
        <tr>

          <td class="tg-0lax">
            <img src="../images/article-img.png" alt="@instaabc" />
          </td>

          <td class="tg-0lay">
            Article Title<br>
            By Author<br>
            DD/MM/YYYY |  3 min read<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis hendrerit arcu. Sed ac lacus leo. Nunc fermentum vel ex eu mollis. Aliquam a urna ut lorem cursus vestibulum a in 
            
          </td>
        </tr>
        <tr>

          <td class="tg-0lax">
            <img src="../images/article-img.png" alt="@instaabc" />
          </td>

          <td class="tg-0lay">
            Article Title<br>
            By Author<br>
            DD/MM/YYYY |  3 min read<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis hendrerit arcu. Sed ac lacus leo. Nunc fermentum vel ex eu mollis. Aliquam a urna ut lorem cursus vestibulum a in 
            
          </td>
        </tr>
      </thead>
    </table>
    <footer>
        <div class="categories-list">
          <h1>CATEGORIES</h1>
          <li >Category 1</li>
          <li >Category 2</li>
          <li >Category 3</li>
          <li >Category 4</li>
          <li >Category 5</li>
          <li >Category 6</li>
          <li >Category 7</li>
        </div>

        <div class="recent-posts">
          <h1>RECENT POSTS</h1>
          <li >Post 1: Title and Author</li>
          <li >Post 2: Title and Author</li>
          <li >Post 3: Title and Author</li>
          <li >Post 4: Title and Author</li>
          <li >Post 5: Title and Author</li>
          <li >Post 6: Title and Author</li>
          <li >Post 7: Title and Author</li>
        </div>

        <div class="popular-post-list">
          <h1>POPULAR POSTS</h1>
          <li >Post 1: Title and Author</li>
          <li >Post 2: Title and Author</li>
          <li >Post 3: Title and Author</li>
          <li >Post 4: Title and Author</li>
          <li >Post 5: Title and Author</li>
          <li >Post 6: Title and Author</li>
          <li >Post 7: Title and Author</li>
        </div>
      <div class="about-us">  
        <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Nullam u
          rna erat, accumsan non venenatis ac, 
          maximus eget magna. Curabitur rutrum 
          bibendum nisl, ut ornare metus accumsan 
          vitae. Nullam sit amet egestas nisi.
           Quisque tincidunt commodo ante, vitae 
           vestibulum arcu faucibus ac. Mauris ac 
           tellus in leo sollicitudin pulvinar nec ac sapien.
        </p>
      </div>

      <div class="copywrite">&#169 Copyright 2021 Alpha Bio Cell</div>
    </footer>

    <script src="" async defer></script>
  </body>
</html>
